start/src/main/app/start.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="startFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/one" doc:name="HTTP"/>
        <set-payload value="#['Fant1']" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="construct-final-response">
        <dw:transform-message doc:name="Transform Message" metadata:id="1f5f3a36-124e-4222-ada1-67cd0b46abb9">
            <dw:input-payload doc:sample="sample_data\string.dwl" mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
totalRecords:sizeOf (payload),
items:payload map {

	 
			id:$.id,			
            serverDetails:$.hosts,
           "seats":$.seats,
           "poolName":$.poolId,
           consumptionId: $.consumptionId,
           actvationDate: $.actvationDateTime
	}


}

]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow> 
    
</mule>
